/*
time spent editing: 21 minutes | i forogt how long its been since last update
*/

.titleContainer{
    display: flexbox;
    position:relative;
    
    width:auto;
    height:auto;

    object-fit:cover;

    z-index:0;

    margin-top:1.5vh;

    margin: left 10vw;;
}

.textContainer{
    display:flex;
    margin-left:10vw;

    position:absolute;

    width:auto;

    background-color:red;

    border:2px;
    border-style:solid;
}

.titleImg{
    width: 100vw;
    object-fit: contain;
    display: block;

    z-index:0;

    filter:brightness(60%);
    filter:blur(100%);
}