/*Main Area*/

button{
    background:none;
    border:none;
}

.genContainer{
    display:block;
    width:auto;
    height:auto;

    /*border:2px;
    border-style:solid;
    border-color:black;*/
}

.topPortion{
    display:flex;
    width: 89.63vw;
    height: 3.6vw;
    background-color:#C7C7BB;
    border-radius: 1vh;
    justify-self:center;
    align-items:center;
    margin-top:3vw;
}

.topSelector{
    display:flex;
    width: fit-content;
    height: 3.39vw;
    width: 4.2vw;
    flex-direction:row;
    margin:.4vw;
    border-radius: 1vh;
}

.textTopS{
    width:auto;
    margin:auto;
}

.merriweather-sans-gen{
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #121212;
}

/*.textTopS:hover{
    color:#9b9b9b;
    border-radius:10px;
}*/

.topSelector:hover{
    background-color:#adadad;
}

.rightSide{
    display:flex;
    margin-left:auto;
    gap:0.5vw;
}

.cardContainer{
    display:flex;
    height:50vw;
    width:89.63vw;
    margin:3vw;

    justify-self:center;

    flex-direction:column;
}

.topPartCards{
    display:flex;
    width:inherit;
    height:24vw;
}

.bottomPartCards{
    display:flex;
    width:inherit;
    align-self:end;
    height:24vw;
}

.cardBox{
    display:flex;
    height:23vw;
    width:15vw;
    /*background-color:#ffff00;*/
    align-self:center;
    flex-direction:column;
    margin: 0 auto 0 auto;
}

.cardActual{
    display:flex;
    height:19vw;
    width:13vw;
    background-color:#30302f;
    align-self:top;
    border-radius:10px;
    flex-direction:row;
    margin: 0 auto 0 auto;
}

.cardActual:hover{
    background-color:#616160;
}

.pokeballIcon{
    width:3vw;
    height:3vw;
    align-self:center;
}
