.titleContainerGuide{
    display: flex;
    position:relative;

    z-index:0;

    margin-top:1.5vh;
}

.guideContainer{
    display:flex;
    height:fit-content;
    flex-direction:row;
    padding: 4vw 7vw 4vw 7vw;
}

.guideSec1{
    position:relative;
    display:inline-block;
    width:fit-content;
    height:fit-content;
    margin:auto;
}

.guideSec2{
    position:relative;
    display:inline-block;
    width:fit-content;
    height:fit-content;
    margin:auto;
}

.guideSec1:hover{
    animation-name: guideHover;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}

.guideSec2:hover{
    transition: scale(1.002) 0.5s ease-in-out;
    animation-name: guideHover;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}

@keyframes guideHover{
    0% {transform:scale(1.005)}
    25% {transform:scale(1.01)}
    50% {transform:scale(1.015)}
    75% {transform:scale(1.020)}
    100% {transform:scale(1.025)}
}

.overlay{
    position:absolute;
    z-index:1;
    display:flex;
    top:0;
    left:0;
    width:100%;
    height:100%;
    flex-direction:column;
    align-items:center;
    padding-top: 42%;
    gap: 1.5vw;
}

.guideSec1Title{
    display:flex;
    height:auto;
    width:auto;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size:2.344vw;
    color: #FFFFFF;
}

.guideSelectorBox1{
    display:flex;
    position:relative;;
    height:4.2vw;
    width: 31.1vw;
    margin: 0.4vw;
    align-items:center;

    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size:2.344vw;
    background-color:#363333;
    border:none;
    color: #FFFFFF;
}

.guideSelectorBox2{
    display:flex;
    position:relative;;
    height:4.2vw;
    width: 31.1vw;
    margin: 0.03vw;
    align-items:center;

    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size:2.344vw;
    color: #FFFFFF;
    background-color:#363333;
    border:none;
}

.guideSelectorBox3{
    display:flex;
    position:relative;;
    height:4.2vw;
    width: 31.2vw;
    margin: 0.35vw;
    align-items:center;

    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size:2.344vw;
    color: #FFFFFF;
    background-color:#363333;
    border:none;
}

.guideSelectorBox4{
    display:flex;
    position:relative;;
    height:4.2vw;
    width: 31.2vw;
    margin: 0.2vw;
    align-items:center;

    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size:2.344vw;
    color: #FFFFFF;
    background-color:#363333;
    border:none;
}

.guideSelectorBox1:hover,.guideSelectorBox2:hover,.guideSelectorBox3:hover,.guideSelectorBox4:hover{
    background-color:#4F4F4F;
}
