/*
time spent editing: 21 minutes | i forogt how long its been since last update
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*title section*/
.titleContainer{
    display: flex;
    position:relative;
    
    width:auto;
    height:auto;

    object-fit:cover;

    z-index:0;

    margin-top:1.5vh;

    margin: left 10vw;;
}

.textContainer{
    display:flex;
    margin: 10vw 0 0 6vw;
    position:absolute;
    width:50%;

    /*border:2px;
    border-style:solid;*/
}

.titleImg{
    width: 100vw;
    object-fit: contain;
    display: block;

    z-index:0;

    filter:brightness(60%);
    filter:blur(100%);
}

.merriweather-sans-title{
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size:100px;
    color: #FFFFFF;
}

.merriweather-sans-gen{
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #FFFFFF;
}

.titleDesc{
    position:absolute;
    margin: 19.5vw 0 0 .6vw;
    font-size:20px;
    width:437px;
}

#TBRedirect{
    background-color:#FFFFFF;   
    position:absolute;
    margin: 25vw 0 0 .6vw;
    width:173px;
    height:41px;
    border-radius: 5px;
    border:none;
    font-size:20px;
}

#TBRedirect:hover{
    background-color:#E0E0E0;
}

/*highlights*/

.hiContainer{
    display:block;
    width:auto;
    height:1080px;
}

.articleContainer{
    position:relative;
    width:auto;
    height:87%;

    border:2px;
    background-color:rgb(159, 227, 0);
    border-style:solid;
}

#con1, #con2, #con3, #con4{
    background-color:red;
    position:absolute;
}

#con1{
    width:670px;
    height:430px;
    margin: 0 0 0 72px;
}

#con2{
    width:380px;
    height:430px;
    margin: 0 72px 0 0;
    justify-self:end;
}

#con3{
    width:375px;
    height:500px;
    margin: 450px 0 0 72px;
    align-self:start;
}

#con4{
    width:650px;
    height:500px;
    margin: 450px 72px 0 0;
    align-self:start;
    justify-self:end;
}

.merriweather-sans-Sarti{
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color:#121212;
    font-size:20px;
    margin:12px 0 0 12px;
}