/*Main Area*/

button{
    background:none;
    border:none;
}

.genContainer{
    display:block;
    width:auto;
    height:auto;

    /*border:2px;
    border-style:solid;
    border-color:black;*/
}

.topPortion{
    display:flex;
    width: 89.63vw;
    height: 3.6vw;
    background-color:#C7C7BB;
    border-radius: 1vh;
    justify-self:center;
    align-items:center;
    margin-top:3vw;
}

.topSelector{
    display:flex;
    width: fit-content;
    height: 3.39vw;
    width: 4.2vw;
    flex-direction:row;
    margin:.4vw;
    border-radius: 1vh;
}

.textTopS{
    width:auto;
    margin:auto;
}

.merriweather-sans-gen{
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #121212;
}

/*.textTopS:hover{
    color:#9b9b9b;
    border-radius:10px;
}*/

.topSelector:hover{
    background-color:#adadad;
}

.rightSide{
    display:flex;
    margin-left:auto;
    gap:0.5vw;
}

.cardContainer{
    display:flex;
}
