/*
the borders contained in comments
will be used for debugging
un-comment them when fixing UI
or if any other issue happens
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    color: #121212;
    font-family:"Inter","Merriweather Sans", sans-serif;
}

body{
    margin:auto;
    overflow-x:hidden;
}


/*header section*/

header{ /*container for the header items*/
    display:flex;
    width:auto;
    height:5vh;

    align-items:center;

    margin-top:1vh;

    /*
    border:2px;
    border-style:solid;
    */
}

header > headerDropContainer{ /*container that contains text for drop down*/
    display:flex;

    margin-left:auto;
    margin-right: 2vh;

    /*border:2px;
    border-style:solid;*/
}

.dropdown{
    display:flex;
    position:relative;
    background-color:transparent;
    z-index: 9;

    padding-right:1.1vw;

    align-items:center;
    font-size:auto;

}

.dropdownContent{ 
    display: none; 
    position: absolute;
    top:100%;
    min-width: 80px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    padding: 12px 16px;
    background-color:#E9E9E9;
    z-index: 9;
    font-size:auto;
}

.dropdownContent a{
    display:block;
    padding: 8px;
}

.dropdown:hover .dropdownContent{
    display:block;
    z-index: index max;
}

.arrow{
    width:3vh;
    height:3vh;
    align-content:center;
}

/*footer section*/

footer{
    display:flex;
    margin-top:90%;

    width:auto;
    height:10vh;

    flex-direction:column;

    margin:auto 1.1vw 0 1.1vw;

    /*border: 2px;
    border-style:solid;
    */
}

footer a{
    text-decoration:none;
}

.horiBox1{
    display:flex;
}

.horiBox2{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.IconBox{
    width: 4vh;
    height: 4vh;
}

.FtGen{
    display:flex;
    
    width:auto;
    height:4vh;

    align-items:center;
    margin-top:.5vh;

    gap:0.5rem;

    /*border: 2px;
    border-style:solid;
    */
}