.articleCarouselContainer{
  display:flex;
  height:50vw;
  width:auto;
  border-style:solid;
}

.articleCarouselActual{
  display:flex;
  height:30vw;
  width:auto;
  border-style:solid;
  background-color: blue;
}